body{
    background-color: rgb(20, 20, 78);
    padding: 0%;
}
ul {
  height: 80px;
  width: 100%;
  background-color: aquamarine;
  text-align: center;
  display: flex;
  font-size:30px ;

}
.rightsection{
    font-size: 2rem;
    
}